<h1 id="tableLabel">Bienvenido</h1>

<p>Acceso al sistema</p>

<ul>
  <li>
    <a routerLinkActive="active" [routerLink]="['/Fabricantes']">
      <i class="ni ni-building"></i>
      <span class="mb-0 text-sm"> Fabricantes</span>
    </a>
  </li>
  <li>
    <a routerLinkActive="active" [routerLink]="['/GrupoProductos']">
      <i class="ni ni-building"></i>
      <span class="mb-0 text-sm"> Grupo de productos</span>
    </a>
  </li>
  <li>
    <a routerLinkActive="active" [routerLink]="['/Proveedores']">
      <i class="ni ni-building"></i>
      <span class="mb-0 text-sm"> Proveedores</span>
    </a>
  </li>
  <li>
    <a routerLinkActive="active" [routerLink]="['/Productos']">
      <i class="ni ni-building"></i>
      <span class="mb-0 text-sm"> Productos</span>
    </a>
  </li>
</ul>
