<h1 id="tableLabel">Grupo productos</h1>
<div class="text-right">
  <button (click)="openBlockNew()" mat-raised-button>Nuevo</button>
</div>
<div *ngIf="showNew" class="formulario">
  <h4>Registrar</h4>
  <form [formGroup]="formRegister">
    <p>
      <label for="cCodGrupoProducto">Cod Grupo Producto : </label>
      <input type="text" [formControl]="formRegister.controls['cCodGrupoProducto']">
    </p>
    <p>
      <label for="cNombreGrupoProducto">Nombre Grupo Producto : </label>
      <input type="text" [formControl]="formRegister.controls['cNombreGrupoProducto']">
    </p>

  </form>
  <button class="registrar" (click)="registrar()">
    Registrar
  </button>
</div>
<!--<table *ngIf="grupoProductos">
  <thead>
    <tr>
      <th>Id</th>
      <th>Cod Grupo Producto</th>
      <th>Nombre Grupo Producto</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let grupoProd of grupoProductos">
      <td>{{ grupoProd.id }}</td>
      <td>{{ grupoProd.cCodGrupoProducto }}</td>
      <td>{{ grupoProd.cNombreGrupoProducto }}</td>
    </tr>
  </tbody>
</table>-->
<br />
<br />
<table mat-table [dataSource]="grupoProductos" class="mat-elevation-z8" [hidden]="!grupoProductos">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let grupo">{{grupo.id}}</td>
  </ng-container>

  <ng-container matColumnDef="codigo">
    <th mat-header-cell *matHeaderCellDef>Codigo</th>
    <td mat-cell *matCellDef="let grupo">{{grupo.cCodGrupoProducto}}</td>
  </ng-container>

  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef>Nombre</th>
    <td mat-cell *matCellDef="let grupo">{{grupo.cNombreGrupoProducto}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns:displayedColumns"></tr>
</table>

<mat-paginator [hidden]="!grupoProductos" [pageSize]="10" [pageSizeOptions]="[10,20,50]" showFirstLastButtons></mat-paginator>

