<h1 id="tableLabel">Fabricantes</h1>
<div class="text-right">
  <button (click)="openBlockNew()" mat-raised-button>Nuevo</button>
</div>
<div *ngIf="showNew" class="formulario">
  <h4>Registrar</h4>
  <form [formGroup]="formRegister">
    <label for="cNmbFabricante">Nombre Fabricante : </label>
    <input type="text" [formControl]="formRegister.controls['cNmbFabricante']">
  </form>
  <br />
  <br />
  <button class="registrar" (click)="registrar()">
    Registrar
  </button>
</div>
<br />
<br />
<!--<table *ngIf="fabricantes">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nombre fabricante</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let fabricante of fabricantes">
      <td>{{ fabricante.id }}</td>
      <td>{{ fabricante.cNmbFabricante }}</td>
    </tr>
  </tbody>
</table>
<br/>
<br />-->
<table mat-table [dataSource]="fabricantes" class="mat-elevation-z8" [hidden]="!fabricantes">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let fabricante">{{fabricante.id}}</td>
  </ng-container>

  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef>Nombre</th>
    <td mat-cell *matCellDef="let fabricante">{{fabricante.cNmbFabricante}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns:displayedColumns"></tr>
</table>

<mat-paginator [hidden]="!fabricantes" [pageSize]="10" [pageSizeOptions]="[10,20,50]" showFirstLastButtons></mat-paginator>
