<mat-toolbar color="primary">
  <button mat-icon-button [routerLink]="['/']">
    <mat-icon>
      home
    </mat-icon>
  </button>
  <a mat-flat-button color="primary" [routerLink]="['/Fabricantes']">
    Fabricantes
  </a>
  <a mat-flat-button color="primary" [routerLink]="['/GrupoProductos']">
    Grupo Productos
  </a>
  <a mat-flat-button color="primary" [routerLink]="['/Productos']">
    Productos
  </a>
  <a mat-flat-button color="primary" [routerLink]="['/Proveedores']">
    Prveedores
  </a>
</mat-toolbar>
