<h1 id="tableLabel">Ventas</h1>
<!--<button mat-flat-button color="primary" class="btn-add" [routerLink]="['/VentaEdit']">Nuevo</button>-->

<div class="text-right">
  <button mat-flat-button color="primary" class="btn-add" (click)="openBlockNew()">Nuevo</button>
</div>
<div *ngIf="showNew" class="formulario">
  <h4>Registrar</h4>
  <form [formGroup]="formFacturaVenta" (ngSubmit)="registrar()">

    <mat-form-field appearance="fill">
      <mat-label>Código (máximo 10 caracteres)</mat-label>
      <input matInput formControlName="codigo" placeholder="Ingresa un código" maxlength="10" required>
      <mat-hint align="end">{{formFacturaVenta.get('codigo')?.value?.length || 0}}/10</mat-hint>
      <mat-error *ngIf="formFacturaVenta.get('codigo')?.hasError('required')">El código es requerido</mat-error>
      <mat-error *ngIf="formFacturaVenta.get('codigo')?.hasError('maxlength')">
        Máximo 10 caracteres
        permitidos
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Fecha</mat-label>
      <input matInput formControlName="fecha" placeholder="Ingresa una Fecha" maxlength="10" required>
      <mat-hint align="end">{{formFacturaVenta.get('fecha')?.value?.length || 0}}/10</mat-hint>
      <mat-error *ngIf="formFacturaVenta.get('fecha')?.hasError('required')">La fecha es requerido</mat-error>
      <mat-error *ngIf="formFacturaVenta.get('fecha')?.hasError('maxlength')">
        Máximo 10 caracteres
        permitidos
      </mat-error>
    </mat-form-field>


    <mat-form-field appearance="fill">
      <mat-label>Nit Facturación</mat-label>
      <input matInput formControlName="nitFacturacion" placeholder="Ingresa un NIT" maxlength="12" required>
      <mat-hint align="end">{{formFacturaVenta.get('nitFacturacion')?.value?.length || 0}}/12</mat-hint>
      <mat-error *ngIf="formFacturaVenta.get('nitFacturacion')?.hasError('required')">El nit es requerido</mat-error>
      <mat-error *ngIf="formFacturaVenta.get('nitFacturacion')?.hasError('maxlength')">
        Máximo 12 caracteres
        permitidos
      </mat-error>
    </mat-form-field>


    <mat-form-field appearance="fill">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombreFacturacion" placeholder="Ingresa su nombre completo" maxlength="100"
             required>
      <mat-hint align="end">{{formFacturaVenta.get('nombreFacturacion')?.value?.length || 0}}/100</mat-hint>
      <mat-error *ngIf="formFacturaVenta.get('nombreFacturacion')?.hasError('required')">
        El nombre es
        requerido
      </mat-error>
      <mat-error *ngIf="formFacturaVenta.get('nombreFacturacion')?.hasError('maxlength')">
        Máximo 100 caracteres
        permitidos
      </mat-error>
    </mat-form-field>


    <mat-form-field appearance="fill">
      <mat-label>Precio Total</mat-label>
      <input matInput formControlName="precioTotal" placeholder="Ingresa un valor" type="number" required>
      <mat-error *ngIf="formFacturaVenta.get('precioTotal')?.hasError('required')">El valor es requerido</mat-error>
      <mat-error *ngIf="formFacturaVenta.get('precioTotal')?.hasError('pattern')">
        Debe ser un número
        flotante
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Precio Total con Descuento</mat-label>
      <input matInput formControlName="precioTotalDescuento" placeholder="Ingresa un valor" type="number" required>
      <mat-error *ngIf="formFacturaVenta.get('precioTotalDescuento')?.hasError('required')">
        El valor es
        requerido
      </mat-error>
      <mat-error *ngIf="formFacturaVenta.get('precioTotalDescuento')?.hasError('pattern')">
        Debe ser un número
        flotante
      </mat-error>
    </mat-form-field>


    <mat-form-field appearance="fill">
      <mat-label>Forma de pago</mat-label>
      <mat-select formControlName="formaPago" required>
        <mat-option value="1">Efectivo</mat-option>
        <mat-option value="2">Transferencia</mat-option>
      </mat-select>
      <mat-error *ngIf="formFacturaVenta.get('formaPago')?.hasError('required')">
        Seleccionar una opción es
        requerido
      </mat-error>
    </mat-form-field>


    <mat-form-field appearance="fill">
      <mat-label>Persona</mat-label>
      <mat-select formControlName="personaId" required>
        <mat-option *ngFor="let persona of personas"
                    [value]="persona.id">{{persona.nombre}} {{persona.apellidos}}</mat-option>
      </mat-select>
      <mat-error *ngIf="formFacturaVenta.get('personaId')?.hasError('required')">
        Seleccionar una opción es
        requerido
      </mat-error>
    </mat-form-field>


    <div class="button-container">
      <button mat-raised-button color="primary" type="submit" [disabled]="formFacturaVenta.invalid">Envia Venta</button>
    </div>

  </form>
  <hr>
</div>

<div *ngIf="!ventas">
  <mat-spinner class="spinner" color="primary" mode="indeterminate"></mat-spinner>
</div>
<br />
<br />

<table mat-table [dataSource]="ventas" class="mat-elevation-z8" [hidden]="!ventas">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let venta">{{venta.id}}</td>
  </ng-container>

  <ng-container matColumnDef="codigo">
    <th mat-header-cell *matHeaderCellDef>Codigo</th>
    <td mat-cell *matCellDef="let venta"><a [routerLink]="['/VentaDetalle', venta.id]">{{venta.codigo}}</a></td>
  </ng-container>

  <ng-container matColumnDef="fecha">
    <th mat-header-cell *matHeaderCellDef>Fecha</th>
    <td mat-cell *matCellDef="let venta">{{venta.fecha}}</td>
  </ng-container>
  <ng-container matColumnDef="nitFacturacion">
    <th mat-header-cell *matHeaderCellDef>Nit</th>
    <td mat-cell *matCellDef="let venta">{{venta.nitFacturacion}}</td>
  </ng-container>
  <ng-container matColumnDef="nombreFacturacion">
    <th mat-header-cell *matHeaderCellDef>Nombre Facturacion</th>
    <td mat-cell *matCellDef="let venta">{{venta.nombreFacturacion}}</td>
  </ng-container>
  <ng-container matColumnDef="conIva">
    <th mat-header-cell *matHeaderCellDef>Iva</th>
    <td mat-cell *matCellDef="let venta">{{venta.conIva}}</td>
  </ng-container>
  <ng-container matColumnDef="formaPago">
    <th mat-header-cell *matHeaderCellDef>Condicion Pago</th>
    <td mat-cell *matCellDef="let venta">{{venta.formaPago}}</td>
  </ng-container>
  <ng-container matColumnDef="descuentoGlobal">
    <th mat-header-cell *matHeaderCellDef>Descuento Global</th>
    <td mat-cell *matCellDef="let venta">{{venta.descuentoGlobal}}</td>
  </ng-container>
  <ng-container matColumnDef="precioTotal">
    <th mat-header-cell *matHeaderCellDef>Precio Total</th>
    <td mat-cell *matCellDef="let venta">{{venta.precioTotal}}</td>
  </ng-container>
  <ng-container matColumnDef="precioTotalDescuento">
    <th mat-header-cell *matHeaderCellDef>Precio Total Descuento</th>
    <td mat-cell *matCellDef="let venta">{{venta.precioTotalDescuento}}</td>
  </ng-container>
  <ng-container matColumnDef="precioIva">
    <th mat-header-cell *matHeaderCellDef>Iva</th>
    <td mat-cell *matCellDef="let venta">{{venta.precioIva}}</td>
  </ng-container>
  <ng-container matColumnDef="precioTotalIva">
    <th mat-header-cell *matHeaderCellDef>Precio Total Iva</th>
    <td mat-cell *matCellDef="let venta">{{venta.precioTotalIva}}</td>
  </ng-container>
  <ng-container matColumnDef="personaId">
    <th mat-header-cell *matHeaderCellDef>Persona ID</th>
    <td mat-cell *matCellDef="let venta">{{venta.personaId}}</td>
  </ng-container>
  <ng-container matColumnDef="empresaId">
    <th mat-header-cell *matHeaderCellDef>Empresa ID</th>
    <td mat-cell *matCellDef="let venta">{{venta.empresaId}}</td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns:displayedColumns"></tr>
</table>

<mat-paginator [hidden]="!ventas" [pageSize]="10" [pageSizeOptions]="[10,20,50]" showFirstLastButtons></mat-paginator>
